#mynetwork {
    width: 100%;
    height: 800px;
    background-color: #ffffff;
    position: relative;
  }
  .content ul {
    list-style: square outside;
  }
  #loader-wrapper {
    position: absolute;
    top: 0;
    margin-top: 10%;
    left: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    opacity: 0;
    z-index: -1;
    transition: opacity 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
  }
  .loader {
    height: 80px;
    width: 80px;
    border-width: 5px !important;
  }
  .is-active {
    opacity: 1 !important;
    z-index: 1 !important;
  }
  .is-loading {
    position: relative;
  }